html {
    background: #e2c081;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    align-content: center;
    justify-content: center;
}

.suggestions {
    list-style: none;
    padding: 0;
}

.search-form {
    text-align: center;
}

.search {
    padding: 15px;
}

.h1 {
    background: #80dde2;
}

.suggestions {
    background:rgba(212, 218, 219, 0.5);
    border-radius: 20px;
    padding:10px;
}

/* .suggestions li {
    border: solid #71797a 0.1px;
}*/